@using ECommerce.Application.Models.VMs.CartVMs
@model List<CartItemVm>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Ürünler</th>
                        <th>Birim Fiyat</th>
                        <th>Ürün Adedi</th>
                        <th>Toplam</th>
                        <th>Kaldır</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Price * item.Quantity)</td>
                            <td>
                                <form asp-action="DeleteFromCart" asp-route-productId="@item.ProductId" method="post">
                                    <button type="submit" class="btn btn-danger">Ürünü Kaldır</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">

            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Alışveriş Özetiniz</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Ara Toplam</h6>
                        <h6 class="font-weight-medium">
                            @{
                                decimal totalPrice = 0;
                                foreach (var item in Model)
                                {
                                    totalPrice += item.Price * item.Quantity;
                                }
                                @totalPrice
                            }
                        </h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Kargo</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Toplam</h5>
                        <h5 class="font-weight-bold">$(@totalPrice + 10)</h5>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Ödeme Seçenekleri</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       class="custom-control-input"
                                       name="payment"
                                       id="paypal" />
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       class="custom-control-input"
                                       name="payment"
                                       id="directcheck" />
                                <label class="custom-control-label" for="directcheck">Nakit</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       class="custom-control-input"
                                       name="payment"
                                       id="banktransfer" />
                                <label class="custom-control-label" for="banktransfer">Kredi Kartı</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">
                            Ödeme Yap
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
