
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@model UpdateCategoryDto

<h2>Kategori Detayları</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Kategori Adı")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayName("Kategori Açıklaması")

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayName("Kategori Görseli")

        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImagePath" alt="Author Image" class="img-fluid" width="600" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark ">Düzenle</a> |
    <a asp-action="Index" class="btn btn-warning ">Kategori Listesine Dön</a>
</div>


