@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model UserProductListDto

<h2>Siparişler</h2>

<p>
    <a asp-action="Create" class="btn btn-dark">Sipariş Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Sipariş ID
            </th>
            <th>
                Kullanıcı Tam Adı
            </th>
            <th>
                Toplam Fiyat
            </th>
            <th>
                Sipariş Durumu
            </th>
            <th>
                İşlemler
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            decimal totalPrice = 10; // Her satır için total price sıfırlanıyor
            foreach (var product in item.ProductOrders)
            {
                var productPrice = Model.Products.FirstOrDefault(x => x.Id == product.ProductId)?.Price;
                if (productPrice != null)
                {
                    totalPrice += product.Quantity * productPrice.Value;
                }
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => totalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
