@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}


@model UserProductListDto

<h2>Kategoriler</h2>

<p>
    <a asp-action="Create" class="btn btn-dark">Order Ekle</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
               OrderId
            </th>
            <th>
                User Full Name
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                @foreach (var product in item.ProductOrders)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Products.FirstOrDefault(x => x.Id == product.ProductId).Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Quantity)
                    </td>
                    <td>
                        @{
                            var productPrice = Model.Products.FirstOrDefault(x => x.Id == product.ProductId)?.Price;
                            var totalPrice = product.Quantity * productPrice ?? 0;
                        }
                        @Html.DisplayFor(modelItem => totalPrice)
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>