@using Microsoft.AspNetCore.Http.Extensions
 
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentUrl = Context.Request.GetDisplayUrl();
}

@model UserProductListDto

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filtrele</h5>
                <form>
                    <input type="hidden" name="CategoryName" value="@Model.CategoryName" />
                    <!-- Search Term -->
                    @await Html.PartialAsync("_FilterPartialView")
                    <!-- Filtrele Butonu -->
                    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Product" method="get">Filtrele</button>
                    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Product">Filtreleri Temizle</button>
                </form>
            </div>
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <div class="text-center" style="width: 300px; height:300px">
                                    <img class="img-fluid" src="@product.ImagePath" alt="">
                                </div>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">@product.Name</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>Fiyat</h6>
                                    <h6 class="ml-2">@product.Price</h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a asp-controller="Home" asp-action="ProductDetail" asp-route-Id="@product.Id" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Detay</a>
                                <a asp-area="Member" asp-controller="Cart" asp-action="AddItem" asp-route-productId="@product.Id" asp-route-returnURL="@currentUrl"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>