@model UpdateProfileDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kullanıcı Adı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            Eposta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
         <dt>
            Ad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Soyad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd> 
        <dt>
            Adres
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
       
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Düzenle</a> |
    <a asp-action="Index" class="btn btn-warning">Listeye Geri Dön</a>
</div>
